<h1 *ngIf="name" class="category-title">{{ name }} kategória termékei</h1>

<div class="container-flex" *ngIf="category && products|async">

  <ng-container *ngIf="(products | async | active | filter: {featured:true,categoryId:category.id})?.length !== 0">
    <app-featured-list *ngIf="category" [products]="products | async | active | filter:{featured:true,categoryId:category.id}" class="mb-5"> </app-featured-list>
  </ng-container>

  <div class="row" *ngIf="products|async">
    <app-product-list *ngIf="category" [products]="products | async | active | filter:{categoryId:category.id}"></app-product-list>
  </div>

  <ng-container *ngIf="categoryNotExists">
    <h1>Eltévedtél?</h1>
    <div>
      Nincs ilyen kategória.
    </div>
  </ng-container>

</div>

