<div class="data-editor-pager btn-group">
  <button [disabled]="first"class="btn btn-secondary" (click)="onPrevious()">&lt;&lt; Previous</button>
  <button [disabled]="last" class="btn btn-secondary"  (click)="onNext()" >Next &gt;&gt;</button>
</div>
<br>
<table class="table table-striped data-editor-table">
  <thead>
    <tr>
      <th *ngFor="let info of thInfos">
        {{ info.text }} <br>
        <i (click)="thClick(info)" 
          [class]="[
            'fa',
            'fa-lg',
            (info.sorted ? iNames[info.i] : 'fa-sort')
          ]"
          aria-hidden="true"
        ></i>
      </th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | slice:startIdx:endIdx">
      <th scope="row">{{product.id}}</th>
      <td *ngFor="let info of thInfos | slice:1">
        <ng-container *ngIf="info.type === 'checkbox'; else elseBlock">
          <input [disabled]="disabled" [class]="info.key" type="checkbox" [(ngModel)]="product[info.key]">
        </ng-container>
        <ng-template #elseBlock>
          <input [disabled]="disabled" [class]="info.key" [type]="info.type" [(ngModel)]="product[info.key]">
        </ng-template>
      </td>
      <td>
        <div class="btn-group">
          <button [disabled]="disabled" (click)="onRead(product)" class="btn btn-secondary">Re-read</button>
          <button [disabled]="disabled" (click)="onModify(product)" class="btn btn-primary">Modify</button>
          <button [disabled]="disabled" (click)="onDelete(product)" class="btn btn-danger">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div>
  ( From {{ startIdx + 1 }}. to {{ endIdx }}. ) / {{products.length}}
</div>