#main-nav {
    background: linear-gradient(90deg, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    a {
        color: white!important;
    }
    button {
        color: white!important;
        span {
            color: white!important;
        }
    }
}