/* Product card */
// .modal-inner img {
//   height: 10rem;
//   width: 10rem;
//   object-fit: cover;
// }

body {
    box-sizing: border-box;    
}

.list-title {
    color: rgba(9,9,121,1) ;
    font-weight: bold;
}