/* Product card */
<<<<<<< HEAD
* {
    box-sizing: border-box;
}

.card {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);  
    
}

.card img {
    height: 18rem;
    width: 18rem;
    object-fit: cover;
}
=======
// .modal-inner img {
//   height: 10rem;
//   width: 10rem;
//   object-fit: cover;
// }

>>>>>>> main
